.vertical-timeline {

    &-item {


        &-content {
            font-size: clamp(12px, 16px, 14px);
            position: relative;

            &-container {
                padding: 0 10px 0 10px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                width: clamp(12px, 16px, 14px);
                height: clamp(12px, 32px, 14px);
                background: #222b55;
                border-radius: 50%;
                z-index: 99;
            }
        }

        &-icon {
            height: fit-content;
            position: relative;

            &-item {
                width: 100px;
                height: 100px;
                z-index: 5;

                .step-icon {
                    width: 6rem;
                }
            }

        }

        &:nth-child(even) {

            .vertical-timeline-item-content::after {
                right: 0;
                left: auto;
                position: absolute;
                transform: translate(50%, -50%);


            }

            .vertical-timeline-item-icon-item {
                right: 55%;
                left: auto;
                position: absolute;
                top: 50%;
                transform: translate(50%, -50%);
            }

            .vertical-timeline-item-icon::after {
                left: 0;
                right: auto;
                position: absolute;

            }
        }

        &:nth-child(odd) {

            .vertical-timeline-item-content::after {
                left: 0;
                right: auto;
                transform: translate(-50%, -50%);
            }

            .vertical-timeline-item-icon-item {
                right: 43%;
                left: auto;
                position: absolute;
                top: 50%;
                transform: translate(50%, -50%);
            }

            .vertical-timeline-item-icon::after {
                right: 0;
                left: auto;
            }
        }


    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 5px;
        background-color: #222b55;
        transform: translate(-50%);
        z-index: 0;
    }
}



.dialogue-icon {
    filter: drop-shadow(-17px 4px 12px rgba(0, 0, 0, .3));
}




@media only screen and (max-width: 600px) {
    .vertical-timeline {
        &-item {
            &-icon {
                
            &-item {
                .step-icon {
                    width: 3rem;
                }
            }
            }
        }
    }

}