<ul class="vertical-timeline position-relative p-0 m-0">
  @for (item of list(); track $index ;let idx = $index, isEven = $even ,isOdd =
  $odd) {
  <li
    class="vertical-timeline-item list-unstyled position-relative px-2 py-4 clearfix row d-flex justify-content-between"
    [ngClass]="{
    ' text-start flex-row':isEven,
    ' text-end flex-row-reverse ':isOdd,

  }"
  >
    <div
      class="vertical-timeline-item-content position-relative  px-2 w-50 text-start"
    >
      <strong [innerHTML]="item.title"> </strong>
      <p>{{ item.description }}</p>
    </div>
    <span class="vertical-timeline-item-icon w-50">
      <span class="w position-relative d-flex justify-content-center "
      style="width: fit-content">
        <span class="vertical-timeline-item-icon-item">
          <icon [name]="item.icon" [class]="'custom-icon-size '"></icon>
        </span>

        <icon
        class="w-75 h-75"
          [name]="ICONS.dialogue"
          [class]="isOdd ? 'flip-x  dialogue-icon' : ' dialogue-icon'"
        ></icon>
      </span>
    </span>
  </li>
  }
</ul>
